@model TinTucNews.Models.DetailNewS

@{
    ViewData["Title"] = "Details";
}

<!-- Page Header -->
<div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url('@Html.DisplayFor(model => model.DetailNew.UrlImage)');"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="post-meta">
                    <a class="post-category cat-2" href="#">JavaScript</a>
                    <span class="post-date">@Html.DisplayFor(model => model.DetailNew.CreatedDate)</span>
                </div>
                <h1>@Html.DisplayFor(model => model.DetailNew.Title)</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-8">
                <div class="section-row sticky-container">
                    <div class="main-post">
                        @Html.DisplayFor(model => model.DetailNew.Content)
                    </div>
                    <div class="post-shares sticky-shares">
                        <a href="#" class="share-facebook"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="share-twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="share-google-plus"><i class="fab fa-google-plus"></i></a>
                        <a href="#" class="share-pinterest"><i class="fab fa-pinterest"></i></a>
                        <a href="#" class="share-linkedin"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>

                <!-- ad -->
                <div class="section-row text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="~/img/ad-2.jpg" alt="">
                    </a>
                </div>
                <!-- ad -->
                <!-- author -->
                <div class="section-row">
                    <div class="post-author">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="~/img/author.png" alt="">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h3>John Doe</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <ul class="author-social">
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /author -->
            </div>
            <!-- /Post content -->
            <!-- aside -->
            <div class="col-md-4">
                <!-- ad -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="~/img/ad-1.jpg" alt="">
                    </a>
                </div>
                <!-- /ad -->
                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Featured Posts</h2>
                    </div>
                    @foreach (var item in Model.FeaturedPosts.Take(5))
                    {
                        <div class="post post-widget">
                            <a class="post-img" asp-action="Details" asp-route-id="@item.Id"><img src="@item.UrlImage" alt=""></a>
                            <div class="post-body">
                                <h3 class="post-title"><a asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h3>
                            </div>
                        </div>
                    }
                    
                    <!-- /post widget -->
                    <!-- catagories -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2>Catagories</h2>
                        </div>
                        <div class="category-widget">
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="Catelogies" asp-route-id="2" class="cat-1">Web Design<span>308</span></a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Catelogies" asp-route-id="1" class="cat-2">JavaScript<span>74</span></a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Catelogies" asp-route-id="4" class="cat-4">JQuery<span>41</span></a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Catelogies" asp-route-id="3" class="cat-3">CSS<span>35</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /catagories -->
                    <!-- tags -->
                    <div class="aside-widget">
                        <div class="tags-widget">
                            <ul>
                                <li><a href="#">Chrome</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Catelogies" asp-route-id="3">CSS</a></li>
                                <li><a href="#">Tutorial</a></li>
                                <li><a href="#">Backend</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Catelogies" asp-route-id="4">JQuery</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Catelogies" asp-route-id="1">JavaScript</a></li>
                                <li><a href="#">Website</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /tags -->
                    <!-- archive -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2>Archive</h2>
                        </div>
                        <div class="archive-widget">
                            <ul>
                                <li><a href="#">January 2018</a></li>
                                <li><a href="#">Febuary 2018</a></li>
                                <li><a href="#">March 2018</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /archive -->
                </div>
                <!-- /aside -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</div>
<!-- /section -->