@model IEnumerable<TinTucNews.Models.New>
@{
    ViewData["Title"] = "Home Page";
}

<!-- row -->
<div class="row">
    <div class="col-md-12">
        <div class="section-title">
            <h2>Most Visited</h2>
        </div>
    </div>

    @foreach (var item in Model.Take(2))
    {
        <!-- post -->
        <div class="col-md-6">
            <div class="post post-thumb">
                <a class="post-img" asp-action="Details" asp-route-id="@item.Id"><img src="@item.UrlImage" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-2" href="#">JavaScript</a>
                        <span class="post-date">@item.CreatedDate</span>
                    </div>
                    <h3 class="post-title">
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </h3>
                </div>
            </div>
        </div>
        <!-- /post -->
    }
</div>
<!-- /row -->
<!-- row -->
<div class="row">
    <div class="col-md-12">
        <div class="section-title">
            <h2>Recent Posts</h2>
        </div>
    </div>

    @{int i = 1;}
    @*@foreach (var item in Model)*@
    @foreach (var item in Model.Select((value, index) => new { value, index }))
    {

        <!-- post -->
        <div class="col-md-4">
            <div class="post">
                <a class="post-img" asp-action="Details" asp-route-id="@item.value.Id"><img src="@item.value.UrlImage" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">Web Design</a>
                        <span class="post-date">@item.value.CreatedDate</span>
                    </div>
                    <h3 class="post-title"><a asp-action="Details" asp-route-id="@item.value.Id">@item.value.Title</a></h3>
                </div>
            </div>
        </div>

        <!-- /post -->
        @if (i % 3 == 0)
        {
            <div class="clearfix visible-md visible-lg"></div>
        }
        i++;
    }
</div>
<!-- /row -->
